header{
    background-color: blueviolet;
    color: bisque;
    text-align: center;
}

main{
    background-color: gray;
    color: white;
    padding: 1em;
    font-size: large;
}

body{
    background-image: url(record.png);
    margin: 0;
}